---
title: <%= @title %>
date: <%= @date %>
tags: blog, links, life, debian, ubuntu, ruby, patisserie, sysadm, dev, linux, work, osx
image: bg book cabs camera city coffee coffeebeans field forestway macarons map mba1 mba2 mobile record road sliders strawberries trainstation wall

---

