.sidebar .image.avatar {
    text-align: center;
    img {
        border-radius: 100%;
        width: 50%;
    }
}
.post-category {
    margin: 0 0.3em 0 0;
    padding: 0.3em 0.5em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
a.post-category:hover {
    color: #fff;
}
.post-category-links      { background: #5aba59; }
.post-category-life       { background: #4d85d1; }
.post-category-vim        { background: #8156a7; }
.post-category-ruby       { background: #df2d4f; }
.post-category-debian     { background: rgb(223, 4, 81); }
.post-category-ubuntu     { background: rgb(221, 72, 20); }
.post-category-ruby       { background: rgb(198, 26, 26); }
.post-category-links      { background: rgb(71, 167, 17); }
.post-category-blog       { background: rgb(0, 85, 128); }
.post-category-life       { background: rgb(127, 0, 127); }
.post-category-dev        { background: #451ae1; }
.post-category-sysadm     { background: #e1ab1a; }
.post-category-linux      { background: #61605e; }
.post-category-osx        { background: #63C6F7; }
.post-category-patisserie { background: #00979C; }

#previous-posts h3 a { border-bottom: none; }

#header {
  ul.nav {
    color: _palette(accent2, fg);
    // font-size: 0.8em;
    list-style: none;
    // margin: (_size(element-margin) * 0.5) 0 0 0;
    padding: 0;

    li {
      // border-left: solid 1px _palette(accent2, border);
      display: inline-block;
      line-height: 1em;
      margin-left: 0.75em;
      padding-left: 0.75em;

      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }

      a {
        color: inherit;
      }
    }
  }
}

@media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
       only screen and (    min--moz-device-pixel-ratio: 1.3 ),
       only screen and (      -o-min-device-pixel-ratio: 2.6/2 ), /* returns 1.3, see Dev.Opera */
       only screen and (         min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 124.8dpi ),
       only screen and ( min-resolution: 1.3dppx ) {

       #header {
          background-image:	url('../../img/bg_2x.jpg');
       }

}

.post-description {
  ul > li {
    margin-left: 2em;
  }
}
