.sidebar .image.avatar {
    text-align: center;
    img {
        border-radius: 100%;
        width: 50%;
    }
}
.post-meta {
    line-height: 2em;
}
.post-category {
    margin: 0.3em 0;
    padding: 0.3em 0.5em;
    background: #999;
    font-size: 80%;
    border-radius: 0.5em;
    a {
        color: #fff;
    }
    a:hover {
        color: #ccc;
        text-decoration: none;

    }
}
.post-category-links      { background: #5aba59; }
.post-category-life       { background: #4d85d1; }
.post-category-vim        { background: #8156a7; }
.post-category-ruby       { background: #df2d4f; }
.post-category-debian     { background: rgb(223, 4, 81); }
.post-category-ubuntu     { background: rgb(221, 72, 20); }
.post-category-ruby       { background: rgb(198, 26, 26); }
.post-category-links      { background: rgb(71, 167, 17); }
.post-category-blog       { background: rgb(0, 85, 128); }
.post-category-life       { background: rgb(127, 0, 127); }
.post-category-dev        { background: #451ae1; }
.post-category-sysadm     { background: #e1ab1a; }
.post-category-linux      { background: #61605e; }
.post-category-osx        { background: #63C6F7; }
.post-category-patisserie { background: #00979C; }
