---
title: "Archives"
layout: page
pageable: true
per_page: 20
---

- if paginate
  p = "Page #{page_number} sur #{num_pages}"
  - if prev_page
    p = link_to 'Page précédente', prev_page

ul
  - page_articles.each do |article|
    li
      span = article.date.strftime('%d/%m/%Y')
      |  - 
      = link_to article.title, article

- if paginate
  - if next_page
    p = link_to 'Page suivante', next_page
