---
layout: page
title: "Mes outils du quotidien"
cover: setup.jpg
---

p
  | Ceci est une page
  a href="https://github.com/wesbos/awesome-uses"
    |  /uses
  ' , inspirée par celle de
  a href="https://wesbos.com/uses/" Wes Bos
  ' , vous trouverez ici un recueil des outils qui me permettent d'être efficace
  ' dans mes activités.

h2 Setup + Hardware
ul
  li MacBook Pro 15˝ 2017
  li
    a> href="https://www.amazon.fr/dp/B01CDYB0QS"
      | Moniteur 27˝ LG-27UD88-W 4K USB-C
    ul: li: small Écran très agréable de part sa résolution et sa prise USB-C qui permet de gérer à la fois la charge et l'affichage du macbook.
  li Support écran téléscopique
  li
    a href="https://www.amazon.fr/dp/B00B71KM68"
      | Clavier bluetooth Logitech K801 Layout Apple FR
    ul: li: small Le seul clavier bluetooth au layout apple que j'ai pu trouver qui me convienne.
  li
    a href="https://www.amazon.fr/dp/B07338LDKF"
      | Souris Logitech G703 sans fil
    ul: li: small Utilisable a en filaire comme sans fil. A mi-chemin entre une souris classique et un appareil de type gamer. Il manque la molette à déroulement infini comme sur le G903 mais trop chère et trop design pour moi.
  li
    a href="https://www.amazon.fr/dp/B07338LDKF"
      | Souris Logitech MX anywhere.
    ul: li: small Reléguée à l'usage en mobilité, plus petite et beaucoup moins réactive qu'une série G.
  li
    a href="https://www.amazon.fr/gp/product/B071V6N4T2"
      | Bureau assis-debout électrique Flexispot
  li
    a href="https://www.amazon.fr/gp/product/B017BT3X88"
      | Siège de bureau hjh Office
  li
    a href="https://www.massdrop.com/buy/51846"
      | Micro-casque Sennheiser PC37X version Massdrop
    ul: li: small Très confortable même lors de longues session de pair-programming. Le micro est également plutôt bon et la perche très pratique pour couper rapidement le son.
  li
    a href="https://www.amazon.fr/dp/B01IT6JNR2"
      | Carte son externe Audiotrak Prodigy Cube
    ul: li: small Permet de basculer rapidement de la sortie audio à la prise micro/casque d'un bouton physique.
  li
    a href="https://www.amazon.fr/dp/B006A2Q81M"
      | Webcam Logitech C920 HD Pro
    ul: li: small La webcam du MBP est vraiment moins bien définie.
  li
    a href="https://satechi.net/products/satechi-desk-mat-mate"
      | Sateshi Desk Mat
    ul: li: small Repéré sur une vidéo de David Zhang, complète le trio clavier-souris.
  li
    a href="https://www.amazon.fr/gp/product/B00BP1M4A2"
      | Amplificateur audio SMSL SA-50
    ul: li: small Un amplificateur pour une paire d'enceine bibliothèque vraiment minuscule.
  li
    | Enceintes McFarlow
    ul: li: small Une paire que je possède depuis de nombreuses années et que j'arrive toujours à utiliser dans n'importe quelle situation.

p
  ' Pour avoir une idée de l'organisation de tout cela, voir le
  a href="/position-travail-assis-debout-bureau-electrique/" billet sur la position assis-debout

h2 Outils de développement
ul
  li
    | Sublime Text 3 / VSCode / Neovim
    ul: li: small J'alterne entre ces trois logiciels en fonction de besoins avec une préférence pour SublimeText lorsque je fais du Ruby. VSCode m'impressionne sur ces fonctionnalités et ses performances. NeoVim c'est une longue histoire qui continue à l'occasion d'edition rapide de petites choses.
  li
    | iterm2 + fish shell
    ul: li: small A remplacé le combo xterm+tmux+zsh lors de mon passage à macOS
  li
    a href="https://github.com/typicode/hotel"
      code hotel
    ul: li: small Le dernier d'une longue liste de système pour démarrer un ensemble de services nécessaire à faire tourner nos architectures logicielles.
  li
    | Ruby + Ruby on Rails
    ul: li: small Mon environnement de prédilection, ma zone de confort. Même si j'en découvre encore de nombreuses facettes tout le temps.
  li
    | Crystal
    ul: li: small Mon petit chouchou pour changer ma façon de développer. La syntaxe est aussi agréable que Ruby, mais les concepts sont différents. Je pense que Elixir va bientôt rejoindre le club.
  li
    | Safari + Firefox + Chrome/Brave
    ul: li: small le trio givateu- nécessaire à tout développeur web.

h2 Outils de productivité
ul
  li
    | Alfred + quelques workflows
    ul: li: small Si vous êtes sur macOS et que vous n'utilisez pas Alfred, vous passer à coté d'un des meilleurs outil de productivité de la plate-forme.
  li
    | GitHub Desktop
    ul: li: small En alternance avec la ligne de commande, j'aime particulièrement utiliser GH pour les commits partiels ainsi que pour sa fonction "undo", bien plus pratique qu'en CLI.
  li
    | 1Password
    ul: li: small le gestionnaire de mot de passe le mieux intégré au système. Les alternatives se montrent de plus en plus efficaces, même les outils de base sur macOS.
  li
    | Dropbox
    ul: li: small Me permet essentiellement de synchoniser mes fichiers de config sur plusieurs environnements
  li
    | Dash
    ul: li: small Outil de recherche de documentation offline. Intégré en raccourci via l'editeur ou depuis Alfred, la vitesser de recherche de doc est décuplée. Les alternatives type IntelliSense de VSCode peuvent remettre en question ces choix.
  li Spectacle + Magnet pour l'organisation des fenêtres
  li Homebrew + asdf (node, postgres, redis)
  li
    code> z
    ' (autojump alternative) +
    code fzf
  li
    code> bat
    ' (colored cat),
    code> exa
    ' (colored ls alternative),
    code tldr
    ' ,
    code hub
    ',
    code httpie
  li Insomnia
  li nvAlt
  li Gifox + CloudApp
  li Quitter
  li Dozer
  li KeepingYouAwake
  li Feedly + Reeder
  li Quelques plugins quickview pour Finder

h2 Outils web du quotidien
ul
  li Slack
  li Harvest
  li GitHub + GitLab
  li Sider + CircleCI
  li DependaBot
  li AppSignal
  li Spotify
